#video-container {
	width: 640px;
	height: 50px;
	position: relative;
	margin-top: -465px;
	margin-left: auto;
	margin-right: auto;
}

#video-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
	background-color: black;


}

#video-container:hover #video-controls {
	opacity: .9;
}

button {
	background: rgba(0,0,0,.5);
	border: 0;
	color: #EEE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

button:hover {
	cursor: pointer;
}

#seek-bar {
	width: 360px;
}

#volume-bar {
	width: 60px;
}